body
{
    /* background: url(../images/bg1.jpg) no-repeat center center fixed;  */
    background: url(../images/Galaxy.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-attachment: fixed;
    background-size: cover;

}

.MyName
{
    width: 300px;
    height: 450px;
    background: url(../images/Mount2.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-attachment: fixed;
    background-size: cover;

    
    margin: auto;
    padding: 30px 50px;
    
    margin-top: 100px;
    border-radius: 20px;
}

img
{
    width: 300px;
    height: 300px;
    border-radius: 100px;   
}

#iconlink
{
    width: 50px;
    height: 50px;
    display: inline;
    margin: 10px;
}

#skills
{
    width: 50px;
    height: 50px;
    margin: 10px;
    display: block;
    margin: auto;
    padding: 10px;
}

h1,h3,p
{
    text-align: center;
    font-weight: bold;
    /* background-color: chartreuse; */
    text-overflow: ellipsis;
}

.colorfull
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right,#f32170,#ffeb07,#2196f3,#ff00eb);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    
}